<p>

    <ul id="footer-list">
    <li>
        <a href="https://github.com/donnywiz/mvc">GitHub/Donnywiz</a>
    </li>
    <li>
        <a href="https://github.com/dbwebb-se/mvc">Github/Dbwebb</a>
    </li>
    <li>
        <a href="https://dbwebb.se/kurser/mvc-v2">dbwebb.se</a>
    </li>
    </ul>

</p>


<p>
&copy; 2022 davs21 &#8212; Objektorienterad programmering.
</p>
