
<ul id="navigation-list">
    <li>
        <a href="{{ url("home") }}">Hem</a>
    </li>

    <li>
        <a href="{{ url("about") }}">Om kursen</a>
    </li>

    <li>
        <a href="{{ url("report") }}">Redovisning</a>
    </li>
</ul>
