@import 'font.css';
@import 'form.css';
@import 'flash.css';
@import 'deck.css';

* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

html,
body {
    min-height: 100vh;
    width: 100vw;
    background-color: #f5f5f5;
    /* background-color: #0941e2; */
    color: #1e1e1e;
}

/* CONTAINER FOR ALL DIVS */
.container {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}

/* HEADER FOR LOGO AND NAVIATION  */
.header {
    display: flex;
    justify-content: center;
    height: 150px;
}

.header-bar {
    display: flex;
    flex-flow: column;
    padding: 2em;
    width: 75%;
    align-items: center;
    justify-content: center;
}

/* INCLUDE TITLE IN HAEDER */
.header-title {
    display: flex
}

.header-title > h1 {
    font-size: 48px;
    font-weight: bolder;
    font-family: sans-serif;
    color: lightgray;
}

/* INCLUDE NAVBAR IN HEADER */
.header-navigation {
    display: flex
}


#navigation-list,
#footer-list {
    list-style: none;
    padding-top: 1em;
}

#navigation-list > li,
#footer-list > li {
    display: inline;
    padding: 1em;
}

.main-content > ol,
.main-content > li {
    /* list-style: none; */
    /* display: inline; */
    padding: 1em;
}

.main-content > ol > li {
    padding-bottom: 1em;
}



/* ALL MAIN CONTENT */
.main {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-top: 0.5px dotted lightgrey;
    border-bottom: 0.5px dotted lightgrey;
}

.main-content {
    display: flex;
    flex-flow: column;
    width:60%;
    padding: 2em;
}

.main-content > h1 {
    padding-bottom: 1em;
}

.footer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    min-height: 125px;
    font-family: monospace;
    text-transform: lowercase;
    font-size: 12px;
    color: #1e1e1e;
}
