{% extends "base.html.twig" %}

{% block title %}Tjugoett{% endblock%}


{% block content %}
<div class="main-content">

<h1> {{ title }} </h1>

<p>
    Startsida för kortspelet Tjugoett.
</p>

<p>
    <h3>Instruktioner</h3>
</p>

<p>

<ul>
    <li><a href="report/kmom/01">kmom1</a></li>
    <li><a href="report/kmom/02">kmom2</a></li>
</ul>


</div>
{% endblock %}
