{% extends 'base.html.twig' %}

{% block title %}About{% endblock%}


{% block content %}
<div class="main-content">

<h1> {{ title }} </h1>

<p>
    Om webbplatsen.
</p>

<a href="https://github.com/dbwebb-se/mvc">Länk till kursens Gitrepo.</a>

</div>
{% endblock %}
