{% extends "base.html.twig" %}

{% block title %}Home{% endblock%}


{% block content %}
<div class="main-content">

<h1> {{ title }} </h1>

<p>Startsidan för rapportsida mvc/kmom01.</p>

<p>
    <img src="/img/federica-bisso-Vif-nHWdiPE-unsplash.jpg" width="300px" alt="davs2">
</p>
</div>
{% endblock %}
