{% extends 'base.html.twig' %}

{% block title %}Report{% endblock%}



{% block content %}
<div class="main-content">

<h1> {{ title }} </h1>


{{ include('report/' ~ page ~ '.markdown.twig')|markdown_to_html }}

</div>
{% endblock %}
