{% extends "base.html.twig" %}

{% block title %}Rapport{% endblock%}


{% block content %}
<div class="main-content">

<h1> {{ title }} </h1>

<p>
    Rapportsida mvc/kmom01.
</p>

</div>
{% endblock %}
