{% extends "base.html.twig" %}

{% block title %}Rapport{% endblock%}


{% block content %}
<div class="main-content">

<h1> {{ title }} </h1>

<p>
    Rapportsida mvc/kmom01.
</p>

<p>

<ul>
    <li><a href="report/kmom/01">kmom1</a></li>
    <li><a href="report/kmom/02">kmom2</a></li>
    <li><a href="report/kmom/03">kmom3</a></li>
    <li><a href="report/kmom/04">kmom4</a></li>
    <li><a href="report/kmom/05">kmom5</a></li>
    <li><a href="report/kmom/06">kmom6</a></li>
</ul>



</div>
{% endblock %}
